@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Arcade Classic";
  src: url("/assets/font/Arcade_Classic.ttf");
}
@font-face {
  font-family: "VP Pixel";
  src: url("/assets/font/vp_pixel.otf");
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.main {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
}

.main.show {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 2.5s ease-in-out;
}
.welcomingText {
  opacity: 1;
}

.welcomingText.hide {
  opacity: 0;
  pointer-events: none;
  transition: opacity 2.5s ease-in-out;
}

.triangle:hover {
  text-shadow: 0px 0px 10px #f0a164;
}

.triangle:active {
  text-shadow: 0px 0px 10px #ffd0a9;
}

/* Sidebar */

.sidebar.open {
  width: 210px;
}

@media (max-width: 768px) {
  .sidebar.open {
    width: 185px;
  }
}
.prof li a span {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
}
.prof.open li a span {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 1.5s ease-in-out;
}

.boxsidebar h1,
.boxsidebar img {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
}
.boxsidebar.open h1,
.boxsidebar.open img {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.2s ease-in-out;
}

.boxsidebar {
  opacity: 0;
  pointer-events: auto;
  transition: opacity 0.5s ease-in-out;
}

.boxsidebar.open {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 1s ease-in-out;
}

/* dont't forget run "npx tailwindcss -i ./public/css/input.css -o ./public/css/output.css --watch" */
