@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Arcade Classic";
  src: url("/public/assets/font/Arcade_Classic.ttf");
}
@font-face {
  font-family: "VP Pixel";
  src: url("/public/assets/font/vp_pixel.otf");
}

