body {
  background-image: url("/HTML/assets/homepage/Main\ Background.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
body div {
  position: relative;
  text-align: center;
}

body img {
  position: relative;
}

@font-face {
  font-family: "Arcade Classic";
  src: url("/HTML/assets/font/ARCADECLASSIC.TTF");
}
@font-face {
  font-family: "VP Pixel";
  src: url("/HTML/assets/font/VPPixel-Simplified.otf");
}

.title h1 {
  font-family: "Arcade Classic";
  font-size: 34px;
}

h1 {
  font-family: "VP Pixel";
  font-size: 34;
}

p {
  font-family: "VP Pixel";
  font-size: 14;
}
